#form-header {
    margin-top: 20px;
}

.formBtn {
    float: right;
    margin: 10px 16px 10px 0px;
}

.control-label, .form-control {
    margin-top: 15px;
}

#AddCommBtn {
    margin-bottom: 25px;
}

#CommunityTable {
    margin-top: 20px;
}

.tableBtn {
    margin: 10px;
}