<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="TwitchConnectionString1" connectionString="Data Source=IS-HAY04.ischool.uw.edu;Initial Catalog=Twitch;Persist Security Info=True;User ID=Info445;Password=GoHuskies!;Encrypt=True;TrustServerCertificate=True;Authentication=&quot;Sql Password&quot;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
</configuration>